# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.out
setup.sh

# Folders
_obj
_test
__pycache__
misc
bin
out
pkg
py36
py38
data
eclipse
golang.org
gopkg.in
gorilla
sirupsen
tobyhede
mdempsky
JumboInteractiveLimited
tests/output/*
tests/server/uploads/*
tests/samples/*
tests/output/data.csv
tests/output/data.js
player/results/*
evaluate
Knetic
acroca
derekparker
karrick
ramya-rao-a
rogpeppe
stamblerre
uudashr
stretchr
winterdrache.de
rakyll
js-yaml.min.js
go-delve
profile
player/src/github.com/golang/
player/src/google.golang.org/
player/src/github.com/jhump/
player/src/github.com/gogo/
player/src/github.com/bmizerany/
player/src/statik/
MakeNowJust
go.mongodb.org/
go-sql-driver/
