# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
setup.sh

# Folders
_obj
_test
__pycache__
misc
bin
out
pkg
py36
data
eclipse
golang.org
gopkg.in
gorilla
sirupsen
tobyhede
mdempsky
JumboInteractiveLimited
tests/output/*
tests/server/uploads/*
tests/samples/*
tests/output/data.csv
tests/output/data.js
player/results/*
evaluate
Knetic
acroca
derekparker
karrick
ramya-rao-a
rogpeppe
stamblerre
uudashr
winterdrache.de
js-yaml.min.js
go-delve
