# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
setup.sh

# Folders
_obj
_test
__pycache__
misc
bin
out
pkg
py36
data
golang.org
gopkg.in
gorilla
sirupsen
tobyhede
mdempsky
JumboInteractiveLimited
tests/output/*
tests/server/uploads/*
tests/samples/*
